# Applied Capstone Week3_Segmenting and Clustering Neighborhoods in Toronto

# by nitesh

# Q : Download & explore and cluster the neighborhoods in Toronto

## Download the data

In [48]:
import pandas as pd

### 1 Read table from wikipedia

In [49]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(link,header=0)[0]

## 2Drop Where Borough is Not Assigned

In [50]:
tables_dropna = tables[tables['Borough']!='Not assigned'].reset_index(drop=True)
tables_dropna.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## 3 Group Where postal code is same

In [46]:
tables_grouped = tables_dropna.groupby(["Postal Code", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
tables_grouped.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

## 4If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [51]:
for index, row in tables_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
tables_grouped.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

# 5 Shape

In [52]:
tables_grouped.shape

(103, 3)